@charset "UTF-8";

@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap);

body{
    font-family: 'Noto Serif JP', serif;
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    position: fixed;
}

.title {
    position: relative;
    left: 30px;
    padding: 20px;
    font-size: 24px;
    margin-right: auto;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.title:hover{
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.btn{
    position: relative;
    right: 50px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s;
    top: -12px;
}

.btn:hover{
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.menu-group{
    position: fixed;
    right: 30px;
}

.btn_01{
    position: relative;
    right: 50px;
    padding: 0 20px;
    color: rgb(185, 185, 185);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s;
    top: -12px;
}
.split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #000;
    color: #fff;
    position: relative;
}
.split-left__inner{
    padding-top: 70px;
    height: 100%;
    position: fixed;
    width: 50%;
    text-align: left;
}
.split-right__inner{
    color: white;
    height: 3000px;
}

.product .imgBox{
    position: relative;
    width: 500px;
    height: 700px;
    margin: 20px;
}

.product .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product{
    display: flex;
    flex-wrap: wrap;
}

.imgtitle{
    font-size: 40px;
}

.Back_btn{
    position: relative;
    top: 100px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.Back_btn:hover{
    color: rgb(185, 185, 185);
}